@page
@model Proiect.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adaugă</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                <label asp-for="Review.HotelID" class="control-label">Hotel</label>
                 <select asp-for="Review.HotelID" class="form-control" asp-items="ViewBag.HotelID">
                </select>
                <span asp-validation-for="Review.HotelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.OrasID" class="control-label">Oras</label>
                <select asp-for="Review.OrasID" class="form-control" asp-items="ViewBag.OrasID">
                </select>
                <span asp-validation-for="Review.OrasID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.TaraID" class="control-label">Tara</label>
                <select asp-for="Review.TaraID" class="form-control" asp-items="ViewBag.TaraID">
                </select>
                <span asp-validation-for="Review.TaraID" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Review.Parere" class="control-label"></label>
                <input asp-for="Review.Parere" class="form-control" />
                <span asp-validation-for="Review.Parere" class="text-danger"></span>
            </div>
           
           </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
