@page
@model Proiect.Pages.Rezervari.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adaugă</h1>

<h4>Rezervare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rezervare.Nume" class="control-label"></label>
                <input asp-for="Rezervare.Nume" class="form-control" />
                <span asp-validation-for="Rezervare.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.Prenume" class="control-label"></label>
                <input asp-for="Rezervare.Prenume" class="form-control" />
                <span asp-validation-for="Rezervare.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.HotelID" class="control-label">Hotel</label>
                <select asp-for="Rezervare.HotelID" class="form-control" asp-items="ViewBag.HotelID">
                </select>
                <span asp-validation-for="Rezervare.HotelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.OrasID" class="control-label">Oras</label>
                <select asp-for="Rezervare.OrasID" class="form-control" asp-items="ViewBag.OrasID">
                </select>
                <span asp-validation-for="Rezervare.HotelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.TaraID" class="control-label">Tara</label>
                <select asp-for="Rezervare.TaraID" class="form-control" asp-items="ViewBag.TaraID">
                </select>
                <span asp-validation-for="Rezervare.HotelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.Hotel.TipCamera" class="control-label">Tip camera</label>
                <select asp-for="Rezervare.Hotel.TipCamera" class="form-control" asp-items="ViewBag.HotelT">
                </select>
                <span asp-validation-for="Rezervare.Hotel.TipCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.Persoane" class="control-label"></label>
                <input asp-for="Rezervare.Persoane" class="form-control" />
                <span asp-validation-for="Rezervare.Persoane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataSosire" class="control-label"></label>
                <input asp-for="Rezervare.DataSosire" class="form-control" />
                <span asp-validation-for="Rezervare.DataSosire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataPlecare" class="control-label"></label>
                <input asp-for="Rezervare.DataPlecare" class="form-control" />
                <span asp-validation-for="Rezervare.DataPlecare" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="/Prezentari/Index">Înapoi</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
