@page

@{
    ViewData["Title"] = "Rezervat";
}

<h1>Rezervarea a fost inregistrata cu succes!</h1>
<button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="/Prezentari/Index">Înapoi</a></button>