@page
@model Proiect.Pages.Prezentari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editare</h1>

<h4>Prezentare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prezentare.Id" />
            <div class="form-group">
                <label asp-for="Prezentare.TaraID" class="control-label">Tara</label>
                <select asp-for="Prezentare.TaraID" class="form-control" asp-items="ViewBag.TaraID">
                </select>
                <span asp-validation-for="Prezentare.TaraID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezentare.OrasID" class="control-label"></label>
                <select asp-for="Prezentare.OrasID" class="form-control" asp-items="ViewBag.OrasID">
                </select>
                <span asp-validation-for="Prezentare.OrasID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezentare.OrasID" class="control-label">Descriere</label>
                <select asp-for="Prezentare.OrasID" class="form-control" asp-items="ViewBag.OrasD">
                </select>
                <span asp-validation-for="Prezentare.OrasID" class="text-danger"></span>
            </div>
         
          </br>
          <p>Hoteluri</p>
<div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.CatAsignateList)
{
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
 <input type="checkbox"
 name="selectedCategories"
 
 @(Html.Raw(cat.Checked ? 
"checked=\"checked\"" : "")) />
 @cat.CategorieID @: @cat.Nume
 @:</td>
 }
 @:</tr>
}
 </table>
 </div>
 </div>
<div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
