@page
@model Proiect.Pages.Hoteluri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adaugă</h1>

<h4>Hotel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hotel.Nume" class="control-label">Nume</label>
                <input asp-for="Hotel.Nume" class="form-control" />
                <span asp-validation-for="Hotel.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.OrasID" class="control-label">Oras</label>
                <select asp-for="Hotel.OrasID" class="form-control" asp-items="ViewBag.OrasID">
                </select>
                <span asp-validation-for="Hotel.OrasID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.TaraID" class="control-label">Tara</label>
                <select asp-for="Hotel.TaraID" class="form-control" asp-items="ViewBag.TaraID">
                </select>
                <span asp-validation-for="Hotel.TaraID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.TipCamera" class="control-label">Tip Camera</label>
                <input asp-for="Hotel.TipCamera" class="form-control" />
                <span asp-validation-for="Hotel.TipCamera" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Hotel.NrPers" class="control-label">Numar Persoane</label>
                <input asp-for="Hotel.NrPers" class="form-control" />
                <span asp-validation-for="Hotel.NrPers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.PretCamera" class="control-label">Pret </label>
                <input asp-for="Hotel.PretCamera" class="form-control" />
                <span asp-validation-for="Hotel.PretCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.Rating" class="control-label">Rating</label>
                <input asp-for="Hotel.Rating" class="form-control" />
                <span asp-validation-for="Hotel.Rating" class="text-danger"></span>
            </div>
             </br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="/Index">Înapoi</a></button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
