@page
@model Proiect.Pages.Orase.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Sunteți sigur că doriți să ștergeți acest rând?</h3>
<div>
    <h4>Oras</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oras.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras.Descriere)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Oras.Id" />
        <input type="submit" value="Șterge" class="btn btn-danger" /> 
         <button class="btn btn-dark"><a style="text-decoration:none;color:white" asp-page="./Index">Înapoi</a></button>
    </form>
</div>
